body {
    background-color: aliceblue;
}

#list tr:hover, #completed .done {
    opacity: 0.6;
    cursor: pointer;
    text-decoration: line-through;
    color: #666666;
}

#completed .done:hover {
    opacity: 1;
    cursor: auto;    
    text-decoration: none;    
    color: null;
}

#btnDelete {
    z-index: 100;
}